<div class="mainBack">
<div class="main1All">

        <div class="blog">
            <div id="author">
             <h1>Dan</h1>
             </div>
             <div id="content">
            <h4>Blog content</h4>
             </div>

             <button id="commentBtn">Comment</button>
        </div>
        
</div>
</div>